.third-section-content {
  margin: 15rem auto;
  width: 100%;
  max-width: 110rem;
  height: 25rem;
  background: $darkViolet url('../images/bg-pattern-how-we-work-desktop.svg') no-repeat top right;
  padding: 0 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    color: $veryLightGray;
    font-size: 5.5rem;
    line-height: 6rem;
  }

  button {
    border: .2rem solid $veryLightGray;
    color: $veryLightGray;
    background: transparent;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1.4rem;
    font-weight: bold;
    transition: .4s;

    &:hover {
      color: $darkViolet;
      background: $veryLightGray;
    }
  }
}