$darkViolet: rgb(45, 38, 64);
$grayishBlue: rgb(149, 169, 198);

$veryDarkViolet: rgb(43, 39, 47);
$darkGrayishViolet: rgb(131, 125, 135);
$veryLightGray: rgb(250, 250, 250);

@mixin container {
  max-width: 110rem;
  width: 100%;
  margin: 0 auto;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
};

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
};
