@media screen and (max-width: 890px) {
  .form-container {
    
    form {
      align-items: center;
      flex-direction: column;
    }

    input {
      width: 100%;
      max-width: 55rem;
    }

    button {
      margin-top: 3rem;
      width: 100%;
      max-width: 35rem;
      margin-left: 0;
    }

  }
}

@media screen and (max-width: 600px) {
  .form-container {
    padding: 4rem 5rem 5rem;

    h2 {
      font-size: 2.8rem;
    }

    p {
      max-width: 100%;
    }
  }
}
