header {
  @include container;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  margin-top: 6rem;

  img {
    width: 100%;
    max-width: 17.6rem;
    cursor: pointer;
    margin-right: 3rem;
  }

  ul {
    display: flex;
    align-items: center;
  }

  li + li {
    margin-left: 2rem;
  }

  a {
    padding: 1rem 1.5rem;
    font-size: 1.6rem;

    &:hover {
      color: $White;
    }
  }
}
