<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="main.css")
    link(rel="icon", type="image/png", size="32x32", href="./favicon-32x32.png")

    title Base Apparel coming soon page
  body
    section(class="container")
      img(src="./logo.svg", alt="Logo" class="logo")

      picture(class="hero-image")
        source(media="(min-width: 1200px)", srcset="./hero-desktop.jpg")
        source(media="(max-width: 1199px)", srcset="./hero-mobile.jpg")
        img(src="./hero-desktop.jpg", alt="hero")

      div(class="container-content")
        
        h1(class="title") We're #[span coming soon]

        p
          |Hello fellow shoppers! We're currently building our new fashion store. 
          |Add your email below to stay up-to-date with announcements and our launch deals.

        form(class="form")
          input(type="text", name="email", placeholder="Email Address", autocomplete="off")
          button(type="submit")
            img(src="./icon-arrow.svg", alt="icon-arrow")
          span(class="input-icon-error")
            img(src="./icon-error.svg", alt="icon-error")
          span(class="input-text-error")

        p(class="coded-by")
          | Challenge by #[a(href="https://www.frontendmentor.io?ref=challenge" target="_blank") Frontend Mentor].
          | Coded by #[a(href="https://github.com/maurodesouza" target="_blank") Mauro de Souza].
      
  script(src="./main.js")