<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="style.css")
    link(rel="icon", type="image/png", size="32x32", href="/images/favicon-32x32.png")

    title Frontend Mentor | Single Price Grid Component
  body
    section(class="container")

      div(class="wrapper first")
        h1(class="title") join our community
        h2(class="subtitle text-green") 30-day, hassle-free money back guarantee
        p
          | Gain access to our full library of tutorials along with expert code reviews.
          | #[br]Perfect for any developers who are serious about honing their skills.

      div(class="wrapper secund")
        h2(class="subtitle") Monthly Subscription
        p(class="price") &dollar;29 #[span per month]
        p Full access for less than &dollar;1 a day
        button(class="button") Sign Up

      div(class="wrapper third")
        h2(class="subtitle") Why Us
        ul
          li Tutorials by industry experts
          li Peer &amp; expert code review
          li Coding exercises
          li Access to our GitHub repos
          li Community forum
          li Flashcard decks
          li New videos every week

    footer(class="footer")
      p(class="attribution")
        | Challenge by #[a(href="https://www.frontendmentor.io?ref=challenge" target="_blank") Frontend Mentor].
        | Coded by #[a(href="https://github.com/maurodesouza" target="_blank") Mauro de Souza].
      