.menu-mobile-icons {
  display: none;
  align-items: center;
  margin-left: auto;
  position: relative;

  & > * {
    transition: .4s;
    position: absolute;
    right: 0;
  }

  .menu-icon i{
    font-size: 2.6rem;
  }

  .close-icon {
    opacity: 0;

    i {
      font-size: 3.2rem;
    }
  }
}

header.menu-mobile-active {
  .menu-icon {
    opacity: 0;
    transform: rotateX(90deg);
  }

  .close-icon {
    opacity: 1;
    transform: rotateX(-180deg);
  }

  .header-nav-links {
    opacity: 1;
  }
}

@include breakpoint(630px) {
  .menu-mobile-icons {
    display: flex;
  }

  header .header-nav-links {
    flex-direction: column;
    text-align: center;
    
    position: absolute;
    top: 11.3rem;
    left: 50%;
    transform: translateX(-50%);

    background-color: $darkViolet;

    padding: 3rem 2rem;
    min-width: 28rem;
    max-width: 28rem;

    opacity: 0;
    border-radius: 1rem;
    z-index: 10;

    a {
      font-size: 1.5rem;
      color: fade-out($white, .1);
    }
    
    li {
      width: 100%;
  
      & + li {
        margin-top: 2rem;
        margin-left: 0;
      }
  
      &:nth-child(4) {
        padding-top: 2rem;
        margin-left: 0;
        border-top: .05rem solid fade-out($gray, .6);
      }
    }

    .sign-up-button {
      margin: 0 auto;
      width: 100%;
      font-size: 1.5rem;
      height: 4rem;
    }
  }
}
