$red: rgb(234, 83, 83);
$cyan: rgb(69, 211, 211);
$orange: rgb(252, 175, 74);
$blue: rgb(84, 158, 242);

$darkBlue: rgb(76, 78, 97);
$grayishBlue: rgb(163, 165, 174);
$lightGray: rgb(250, 250, 250);
$white: rgb(255, 255, 255);
