<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="icon", type="image/png", sizes="32x32", href="./favicon-32x32.png")
    link(rel="stylesheet", href="style.css")

    title Frontend Mentor | Four card feature section
  body

    section(class="container")
      h1 Reliable, efficient delivery
      h2 Powered by Technology
      p Our Artificial Intelligence powered tools use millions of project data points to ensure that your project is successful

      div(class="wrapper-cards")
        div(class="card c-one")
          h3 Supervisor
          p Monitors activity to identify project roadblocks
          span
            img(src="./icon-supervisor.svg", alt="Icon")

        div(class="wrapper-cards-column")
          div(class="card c-two")
            h3 Team Builder
            p Scans our talent network to create the optimal team for your project
            span
              img(src="./icon-team-builder.svg", alt="Icon")

          div(class="card c-three")
            h3 Karma
            p Regularly evaluates our talent to ensure quality
            span
              img(src="./icon-karma.svg", alt="Icon")

        div(class="card c-four")
          h3 Calculator
          p Uses data from past projects to provide better delivery estimates
          span
            img(src="./icon-calculator.svg", alt="Icon")

    footer(class="footer")
      p
        |Challenge by #[a(href="https://www.frontendmentor.io?ref=challenge", target="_blank") Frontend Mentor]. 
        |Coded by #[a(href="https://github.com/maurodesouza") Mauro de Souza]